<%
    if(!usuarioAEditar){
        var usuarioAEditar = {
            "nombres": "Edison ",
            "apellidos": "Chung",
            "correo": "eddy2809@hotmail.com",
            "createdAt": "2017-02-08T18:50:40.591Z",
            "updatedAt": "2017-02-08T18:50:40.591Z",
            "id": 2
        }
    }
%>



    <h1>Editar Usuario - <%= usuarioAEditar.nombres%></h1>

    <div class="row">
        <div class="col-sm-5">
            <form action="/Usuario/EditarUsuario" method="post">

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Ingrese sus nombres" name="nombres" value="<%= usuarioAEditar.nombres %>">
                </div>

                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" placeholder="Ingrese sus apellidos" name="apellidos" value="<%= usuarioAEditar.apellidos %>">
                </div>

                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" class="form-control" placeholder="Ingrese su correo" name="correo" value="<%= usuarioAEditar.correo %>">
                </div>

                <input type='hidden' name='idUsuario' value='<%= usuarioAEditar.id %>'>

                <button type="submit" class="btn btn-success btn-block">Crear Usuario</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 text-center">
            <h2><%= usuarioAEditar.apellidos %></h2>
            <h4><%= usuarioAEditar.nombres %></h4>
            <p><%= usuarioAEditar.correo %></p>
        </div>
    </div>